:host {
  display: grid;
}

.card {
  max-width: 550px;
  display: grid;
  border: 0;
  width: 100%;
  margin-inline: auto;
  z-index: 0;
  background: #fff;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  box-shadow: var(--card-shadow);
}

.container-card {
  position: relative;
  background-clip: padding-box;
  padding: 1.5rem 0 0 1.5rem;
  position: relative;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 5rem;
  grid-template-areas:
    'header time'
    'title time'
    'exercises time';
}

.next-session {
  color: var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: -0.02em;
  font-style: italic;
  font-size: 0.9rem;
  font-weight: lighter;
  grid-area: header;
}

.session-name {
  font-weight: bolder;
  text-transform: uppercase;
  color: var(--light-font-color);
  letter-spacing: 0.05em;
  font-style: normal;
  font-size: 2rem;
  grid-area: title;
}

.session-time {
  grid-area: time;
  justify-self: end;
  padding: 1rem 0.5rem 1rem 1rem;
  background-color: var(--accent-color);
  color: var(--light-font-color);
  font-weight: bold;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  height: fit-content;
}

.start-session-button {
  margin-top: 1rem;
  background-color: var(--accent-color);
  color: var(--light-font-color);
  width: 75%;
  border-top-left-radius: 2rem;
  padding: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  margin-left: auto;
  text-transform: uppercase;
}

.exercises-list-container {
  grid-area: exercises;
}
