.head-title {
  color: var(--dark-font-color);
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.session-card-container {
  display: grid;
  padding: 1rem 0 1rem 2rem;
  row-gap: 2rem;
}
