/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'variables';

@font-face {
  font-family: 'Engschrift';
  src: url('/assets/fonts/DIN 1451 Std Engschrift.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Engshrift', sans-serif;
  background-color: var(--primary-color);
}

@keyframes enter {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes exit {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

::view-transition-old(root) {
  animation: exit 1s ease 0s 1 normal forwards;
}

::view-transition-new(root) {
  animation: enter 1s ease 0s 1 normal forwards;
}
